h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
    text-transform: capitalize;
    font-weight: 900;
    padding: 1.5rem;
}

section {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

input {
    text-transform: capitalize;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #6b6b6b;
    background: transparent;
}

button {
    padding: 0.5rem 1.5rem;
    border: none;
    background-color: #448fff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}